---
---
<div id="container">
  {% include header.html %}
  <div id="content">
      Shakya A, Callister C, Goren A, Yosef N, Garg N, Khoddami V,
      Nix D, Regev A, Tantin D. (2015) Pluripotency transcription factor oct4
      mediates stepwise nucleosome demethylation and
      depletion. <strong><em>Mol Cell Biol.</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=25582194"
      target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=25582194" target="_blank">bibtex</a>]
    <p>
      Ziller MJ, Edri R, Yaffe Y, Donaghey J, Pop R, Mallard W, Issner
      R, Gifford CA, Goren A, Xing J, Gu H, Cachiarelli D, Tsankov A,
      Epstein C, Rinn JR, Mikkelsen TS, Kohlbacher O, Gnirke A,
      Bernstein BE, Elkabetz Y and Meissner A. (2015) Dissecting
      neural differentiation regulatory networks through epigenetic
      footprinting. <strong><em>Nature</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=25533951" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=25533951" target="_blank">bibtex</a>]
    <p>
      Krebs W, Schmidt SV, <strong>Goren A</strong>, De Nardo D, Labzin L, Bovier A,
      Ulas T, Theis H, Kraut M, Latz E, Beyer M, Schultze
      JL. (2014) Optimization of transcription factor binding map accuracy
      utilizing knockout mouse models. <strong><em>Nuc. Acids
      Research.</strong></em>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=25378309" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=25378309" target="_blank">bibtex</a>]
    <p>
      Engreitz JM, Pandya-Jones A, McDonel P, Shishkin A, Sirokman K,
      Surka C, Kadri S, Xing J, <strong>Goren A</strong>, Lander ES,
      Plath K, Guttman M. (2013) The Xist lncRNA exploits three-dimensional genome architecture to spread across the X chromosome. <strong><em>Science</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23828888" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23828888" target="_blank">bibtex</a>]
    <p>
      Shalek AK, Satija R, Adiconis X, Gertner RS, Gaublomme JT, Raychowdhury R, Schwartz S, Yosef N, Malboeuf C, Lu D, Trombetta JJ, Gennert D, Gnirke A, <strong>Goren A</strong>, Hacohen N, Levin JZ, Park H, Regev A. (2013) Single-cell transcriptomics reveals bimodality in expression and splicing in immune cells. <strong><em>Nature</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23685454" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23685454" target="_blank">bibtex</a>]
    <p>
      Sebastian C, Zwaans BM, Silberman DM, Gymrek M, <strong>Goren A</strong>, Zhong L, Ram O, Truelove J, Guimaraes AR, Toiber D, Cosentino C, Greenson JK, MacDonald AI, McGlynn L, Maxwell F, Edwards J, Giacosa S, Guccione E, Weissleder R, Bernstein BE, Regev A, Shiels PG, Lombard DB, Mostoslavsky R. (2012) The histone deacetylase SIRT6 is a tumor suppressor that controls cancer metabolism. <strong><em>Cell</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23217706" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23217706" target="_blank">bibtex</a>]
    <p>
      ENCODE Project Consortium. (2012) An integrated encyclopedia of DNA elements in the human genome. <strong><em>Nature</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/22955616" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=22955616" target="_blank">bibtex</a>]
    <p>
      Garber M, Yosef N, <strong>Goren A</strong>, Raychowdhury R, Thielke A, Guttman M, Robinson J, Minie B, Chevrier N, Itzhaki Z, Blecher-Gonen R, Bornstein C, Amann-Zalcenstein D, Weiner A, Friedrich D, Meldrim J, Ram O, Cheng C, Gnirke A, Fisher S, Friedman N, Wong B, Bernstein BE, Nusbaum C, Hacohen N, Regev A, Amit I. (2012) A high-throughput chromatin immunoprecipitation approach reveals principles of dynamic gene regulation in mammals. <strong><em>Mol Cell.</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/22940246" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=22940246" target="_blank">bibtex</a>]
    <p>
      Ram O*, <strong>Goren A*</strong>, Amit I, Shoresh N, Yosef N, Ernst J, Kellis M, Gymrek M, Issner R, Coyne M, Durham T, Zhang X, Donaghey J, Epstein CB, Regev A, Bernstein BE. (2011) Combinatorial patterning of chromatin regulators uncovered by genome-wide location analysis in human cells. <strong><em>Cell</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/22196736" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=22196736" target="_blank">bibtex</a>]
    <p>
      Zhou VW*, <strong>Goren A*</strong>, Bernstein BE. (2011) Charting histone modifications and the functional organization of mammalian genomes. <strong><em>Nat Rev Genet.</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/21116306" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=21116306" target="_blank">bibtex</a>]
    <p>
      Ozsolak F*, <strong>Goren A*</strong>, Gymrek M*, Guttman M, Regev A, Bernstein BE, Milos PM. (2010) Digital transcriptome profiling from attomole-level RNA samples. <strong><em>Genome Res.</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/20133332" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=20133332" target="_blank">bibtex</a>]
    <p>
      <strong>Goren A*</strong>, Ozsolak F*, Shoresh N*, Ku M, Adli M, Hart C, Gymrek M, Zuk O, Regev A, Milos PM, Bernstein BE. (2010) Chromatin profiling by directly sequencing small quantities of immunoprecipitated DNA. <strong><em>Nat Methods</em></strong> 
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/19946276" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=19946276" target="_blank">bibtex</a>]
    <p>
      Amit I, Garber M, Chevrier N, Leite AP, Donner Y, Eisenhaure T, Guttman M, Grenier JK, Li W, Zuk O, Schubert LA, Birditt B, Shay T, <strong>Goren A</strong>, Zhang X, Smith Z, Deering R, McDonald RC, Cabili M, Bernstein BE, Rinn JL, Meissner A, Root DE, Hacohen N, Regev A. (2009) Unbiased reconstruction of a mammalian transcriptional network mediating pathogen responses. <strong><em>Science</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/19729616" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=19729616" target="_blank">bibtex</a>]
    <p>
      Farkash-Amar S, Lipson D, Polten A, <strong>Goren A</strong>, Helmstetter C, Yakhini Z, Simon I. (2008) Global organization of
      replication time zones of the mouse genome. <strong><em>Genome Res.</em></strong> 
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/18669478" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=18669478"
      target="_blank">bibtex</a>]
     <p>
      <strong>Goren A</strong>, Tabib A, Hecht M, Cedar H. (2008) DNA replication timing of the human beta-globin domain is controlled by histone modification at the origin. <strong><em>Genes Dev.</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/18443145" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=18443145" target="_blank">bibtex</a>]
    <p>
      <strong>Goren A</strong>, Simchen G, Fibach E, Szabo PE, Tanimoto K, Chakalova L, Pfeifer GP, Fraser PJ, Engel JD, Cedar H. (2006) Fine tuning of globin gene expression by DNA methylation. <strong><em>PLoS One.</em></strong>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/17183675" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=17183675" target="_blank">bibtex</a>]
    <p>
      Lande-Diner L, Zhang J, Hashimshony T, <strong>Goren A</strong>,
      Keshet I, Cedar H. (2004) Gene repression paradigms in animal
      cells. <strong><em>Cold Spring Harbor Symp Quant
      Biol.</strong></em>
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/16117642" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=16117642"
      target="_blank">bibtex</a>]
     <p>
      <strong>Goren A</strong>, Cedar H. (2003) Replicating by the clock. <strong><em>Nat Rev Mol Cell Biol.</em></strong> 
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12511866" target="_blank">pubmed</a>]
      [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=12511866" target="_blank">bibtex</a>]
  <p>
    --
  <br>
    *=co-first author; #=co-corresponding author
  </p>
  </div>
  {% include footer.html %}
</div>
