---
---
<div id="container">
  {% include header.html %}
  <div id="content">
  <ul>
    <li>When preparing a presentation or grant applications: the zoom
    level at which PDFs are copied to PowerPoint and Word documents
    affect the resolution at which the images come out. (<a href="http://bit.ly/1t1pXyR">Here
    is a slide</a>) to convey the point.</li>
    <li>(<a href="http://bit.ly/10cPABm">CRome</a>) - a database for
    chromatin regulators (CRs)</li>
  </ul>
  </div>
  {% include footer.html %}
</div>
